.container {
  padding: 20px 80px;
}

.listItem {
  display: flex;
  justify-content: start;
  box-shadow: none !important;
  border: none !important;
}

.iconFood {
  width: 20px;
  height: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-center {
  text-align: center !important;
}

.customSegment {
  box-shadow: none !important;
  border: none !important;
  margin-top: -10px !important;
}