.container {
  padding: 20px 80px;
}

.listItem {
  // display: flex;
  flex-wrap: wrap;
  flex: start;
}

.customSegment {
  box-shadow: none !important;
  border: none !important;
  margin-top: -10px !important;
}