.container {
  padding: 20px 80px;
}

.listItem {
  display: flex;
  // flex-wrap: wrap;
  justify-content: start;
}

.iconFood {
  width: 20px;
  height: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-center {
  text-align: center !important;
}